<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Rekomendasi Tempat Wisata</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <div class="container-fluid bg-white text-light p-5 jumbotron">
            <h1 class="display-4 fw-bold" style="text-align: center; color: white;">Selamat Datang</h1>
            <hr>
        </div>
    </header>

    <div class="wisata">
        <h2>Sistem Rekomendasi Tempat Wisata Jawa Timur</h2>
        <p>Input nama tempat wisata dengan huruf kapital disetiap awal nama tempat wisata. Contoh: Coban Sewu</p>
        <form action="/" method="POST">
            <input type="text" id="Name" name="Name" placeholder="Masukkan nama tempat wisata" required /><br>
            <input type="submit" id="submission_button" value="Submit"/>
        </form>
        <br>
  </div>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-secondary text-white">
    <div class="container text-center" style="text-align: center; color: white;">
        <small>Copyright &copy; CSD-110</small>
    </div>
</footer>
</body>
</html>